.profile{
	float: middle;
	width: auto;
	background: transparent;
	overflow: hidden;
}

.cover_image {
	position: relative;
	width: 50%;
	display: block;
	top: 0%; left: 25%; 
}

.function {
	position: relative;
	width: 50%;
	left: 25%; 
	background-color: #f2f2f2;
}

.realfunc {
	width: 40%;
	margin:10px 20px; 
	float: left;
}

.functionimg {
	width: 50%;
}

